<h2 class="ui header">
  <%= title	@idol.display_name %>
  <div class="sub header">
    <div class="ui horizontal bulleted list">
      <div class="item">Tweet: <%= @idol.tweet_count %></div>
      <div class="item">Accounts: <%= @idol.user_count %></div>
      <div class="item">Tweet per Account: <%= @idol.tpu_count.round(5) %></div>
      <div class="item">last update: <%= SearchRecord.latest_update_timestamp.to_s(:local) unless SearchRecord.latest_update_timestamp.nil? %></div>

    </div>
  </div>
</h2>

<h3 class="ui header">投票ツイートの推移</h3>
<%= cache "graph1/#{SearchRecord.latest_update_timestamp.to_date}/#{@idol}/#{daily_maximum}/#{total_maximum}" do %>
    <%= high_chart("count", count_chart) %>
<% end %>

<h3 class="ui header">このアイドルに投票ツイートしたアカウントは、以下のアイドルにもツイートしています</h3>
<div class="ui grid">
  <div class="row">
    <%= cache "relations/#{SearchRecord.latest_update_timestamp.to_date}/#{@idol}" do%>
        <div class="eight wide column">
          <h4 class="ui header">ツイート数 (降順)</h4>
          <% @idol.related_tweet_count_map.to_a.sort{|a, b| a[0] <=> b[0] }.reverse.each do |(cnt, idols)| %>
              <div class="related_idol_column ui segment">
                <h5 class="ui header"><%= cnt %>ツイート</h5>
                <div class="ui bulleted list">
                  <% idols.sort_by(&:display_yomi).each do |idol| %>
                      <div class="item"><%= link_idol idol %></div>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>
        <div class="eight wide column">
          <h4 class="ui header">アカウント数 (降順)</h4>
          <% @idol.related_user_count_map.to_a.sort{|a, b| a[0] <=> b[0] }.reverse.each do |(cnt, idols)| %>
              <div class="related_idol_column ui segment">
                <h5 class="ui header"><%= cnt %>アカウント</h5>
                <div class="ui bulleted list">
                  <% idols.sort_by(&:display_yomi).each do |idol| %>
                      <div class="item"><%= link_idol idol %></div>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

