<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: '全自動でツイート集計したやつ' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="root_container" class="ui text container">
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
  </body>
</html>
